* {
  font-family: sans-serif;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #318ce7;
}

h1 {
  font-size: 28px;
  margin: 50px;
}

h2 {
  font-size: 17px;
}

p {
  font-size: 15px;
}

.container {
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 70px;
}

.row {
  display: flex;
}

.column-third {
  width: 60%;
}

img {
  width: 100%;
  padding: 40px;
}

.column-img {
  background-color: white;
  border-radius: 50%;
  width: 40%;
  margin-left: 70px;
}

.column-title {
  width: 75%;
}

.column-text {
  width: 80%;
}
