.container {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.image-arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image {
  width: 50%;
}

img {
  width: 100%;
}

i {
  width: 100%;
}

.fa-solid.fa-angle-right,
.fa-solid.fa-angle-left {
  font-size: 3em;
}

.dots {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
}
