.bulb {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border-width: 5px;
}

.back.light {
  background: rgb(255 255 224);
}

.back.dark {
  background: rgb(40 40 40);
}

.bulb.light {
  background-color: yellow;
}

.bulb.dark {
  background-color: gray;
  box-shadow: 0 -20px black;
  margin-top: 170px;
}
