* {
  font-family: "Gill Sans", sans-serif;
  box-sizing: border-box;
}

.container {
  justify-content: center;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.head {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.p-head {
  font-size: 13px;
  width: 75%;
  margin-left: 100px;
  letter-spacing: 1px;
}

.row {
  display: flex;
}

.column-fourth {
  display: flex;

  /* width: calc(100% / 4); */

  width: 75%;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
}

.column-img {
  width: 40%;
}

img {
  width: 90%;
}

.column-description {
  width: 100%;
  margin-top: 10px;
  letter-spacing: 1px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 14px;
}

.row-button {
  text-align: center;
}

button {
  border-width: thin;
  border-style: solid;
  border-color: red;
  color: red;
  padding: 10px 50px;
  margin-top: 20px;
  text-align: center;
}
